@media (min-width:1024px) {
    .primer-container-llc {
        padding-top: 20rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }

    .description-container-llc p{
        font-size: 2rem;
        
    }

    .title-container-2-llc h2{
        padding: 3rem 0rem;
        font-size: 3.5rem;
    }

    .container-mas {
        width: 30%;
        /* border: 1px solid black; */
        padding: 2rem 0rem;
        margin: 1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        border-radius: 1.6rem;
    }

    .container-mas-main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .empresa-imagen2-container {
        display: flex;
        align-items: center;
    }

    .container-imagen-ventajas-21 + p {
        padding-top: 2rem;
        font-size: 1.5rem;
        text-align: center;
        /* width: 50%; */
        padding-left: 0rem;
        padding-right: 0rem;
    
    }

    .col-md-6 .empresa-imagen {
        width: 100%;
        margin: 0px;
        padding: 0px;
        box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        border-radius: 1.6rem;

    }

    .empresa-imagen2 {
        width: 100%;
        width: 400px;
        padding-bottom: 8rem;
    }

    .contenedor-iconos-vertical {
        display: flex;
        justify-content: center;
        padding: 3rem 0rem;
        
    }

    .contenedor-iconos-vertical-row {
        /* padding-top: 10rem;
        padding-bottom: 10rem; */
        padding: 10rem 40rem;
    }

    .container-imagen-ventajas-21 img {
        width: 15rem;
        height: 10rem;
        /* padding: 2rem; */
    }

    .container-imagen-ventajas-22 img {
        width: 5rem;
        height: 5rem;
        /* margin-left: -10rem; */
        /* padding: 2rem; */
    }

    .container-multiples ul li {
        list-style: none;
    }

    .container-multiples-main {
        padding-top: 10rem;
    }

    .container-2-llc-main .col-md-4{
        padding: 2rem;
    }


}