.formulario {
  width: 100%;
}
.wrapper__formulario {
  padding: 10px;
}
form {
  background-color: #f9f7f4;
}
.basic__info {
  display: flex;
  flex-direction: column;
}
.formulario__input {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin-bottom: 10px;
  /* align-items: center; */
}

.array__info {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.formulario__input label {
  margin-right: 20px;
  font-size: 18px;
}
.formulario__input input,
select {
  width: 80%;
  height: 50px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px !important;
}
select {
  font-size: 18px !important;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.deleteButton {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  width: 30px !important;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 50%;
}
.deleteIcon {
  font-size: 30px !important;
  color: red;
}
.success__div {
  width: 100%;
  background-color: rgb(41, 194, 41);
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconSuccess {
  font-size: 30px !important;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: white !important;
}
.exito {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.content__company {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
}
.file__container {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.formulario__file {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario__file label {
  margin-right: 30px;
}
.formulario__file span {
  font-size: 18px;
  color: gray;
}
::placeholder {
  font-size: 16px;
}
.iconFile {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
.formulario__file {
  flex: 1;
}
.formulario__file label {
  font-size: 18px;
}
.select__container {
  display: flex;
  flex-direction: column;
}
.title__company {
  margin-bottom: 20px;
  color: gray;
  font-size: 20px;
  /* display: flex;
  justify-content: center; */
}
.button__formulario__container button {
  border: none;
  background-color: #003df0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}
.button__formulario__container {
  display: flex;
  justify-content: center;
}

.header__formulario {
  width: 100%;
  background-color: #003df0;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.header__formulario h2 {
  font-size: 24px;
  padding-left: 2rem;
}

.company-name {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: start;
}
.logo {
  width: 5rem;
  height: 5rem;
  margin-left: 1.5rem;
}

.company-name {
  padding-left: 2rem;
}

.company-name span {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}

@media (min-width: 600px) {
  .basic__info {
    display: flex;
    flex-direction: row;
  }
  .content__company {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    width: 100%;
  }
  .select__container {
    display: flex;
    flex-direction: row;
  }
  .button__formulario__container {
    display: flex;
    justify-content: start;
  }
  .formulario__file {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
