#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

#formulario .row {
    margin: 0px;
}

#formulario i {
    font-size: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#formulario form .header-formulario .company-name {
    
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: start;
}

#formulario .header-formulario .logo {
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
}

#formulario .company-name {
    padding-left: 2rem;
}

#formulario .company-name span {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(0, 61, 240);
}

#formulario form {
    background-color: #f9f7f4;
    padding: 2rem 0rem;
    margin-bottom: 2rem;
    /* padding: 2rem; */
 
}

#formulario .title {
    text-align: center;
    background: #003df0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

#formulario input {
    width: 200px;
    height: 30px;
    outline: none;
    font-size: 1.2rem;
    border-radius: 5px;
    
}

/* #formulario input[type="text"] {
    border: 1px solid #929494;
    padding-left: 5px;
} */

#formulario h2, #formulario h3 {
    color: #012169;

}

#formulario input[type="file"] {
    width: 250px;
    margin-bottom: 5px;
}

#formulario .iconos-archivos {
    margin: 2rem 0rem;  
}

#formulario .iconos-archivos img {
    height: 8rem;
}

#passport-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#formulario .input-form {
    flex-direction: column;
}

#formulario .plus-icon {
    padding-top: 10px;
    font-size: 25px;
}

#formulario input[type="submit"] {
    font-size: 15px;
    padding: 2rem;
    width: 150px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#formulario p {
    padding: 20px 0px;
    font-size: 1.6rem;
}

#formulario .danger {
    color: red;
}

#formulario .validacion-contenedor {
    position: absolute;
    top: 50px;
}

#formulario .validacion-contenedor-file {
    position: absolute;
    top: 30px;
}

#formulario .nota {
    font-weight: 700;
}

#formulario .alert-container {
    background-color: #fef3eb;
    border: .0625rem solid #ea7600;
    margin: .1875rem 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

#formulario .success-container {
    background-color: #fef3eb;
    border: .0625rem solid #22bb33;
    margin: .1875rem 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.alert-container-icon {
    margin-right: 2rem;
}

#formulario .alert-icon {
    width: 50px;

}

#formulario .newPartner {
    padding: 0px;
}